<html>
  <head>
    <title>Review</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Here to review your booking</h1>
      <br>
      <p>booking username: {{booking.Name}}</p>
      <p>booking email: {{booking.Email}}</p>
      <p>booked time: {{time}}</p>
      <p>booking entry time: {{booking.entryTime}}</p>
      <p><strong>Message: </strong>"Your key is generated and in processing"</p> 
    </div>
  </body>
</html>